<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>OpenKJ</Name>
    <Version>1.2.0</Version>
    <Title>OpenKJ Karaoke Hoster</Title>
    <Publisher>OpenKJ Project</Publisher>
    <ProductUrl>https://openkj.org/</ProductUrl>
    <InstallerWindowIcon>openkj</InstallerWindowIcon>
    <InstallerApplicationIcon>openkj</InstallerApplicationIcon>
    <Logo>okjicon64x64.png</Logo>
    <AllowSpaceInPath>true</AllowSpaceInPath>
    <StartMenuDir>OpenKJ</StartMenuDir>
    <TargetDir>@RootDir@/Program Files/@ProductName@</TargetDir>
    <AdminTargetDir>@RootDir@/Program Files/@ProductName@</AdminTargetDir>
</Installer>
